.imgCard:nth-child(1){
    background: rgba(255, 255, 255, 0.4);
    margin-top: 4rem;
}

.imgCard:nth-child(5){
    background: rgba(255, 255, 255, 1);
}
.imgCard:nth-child(4){
    background: rgba(255, 255, 255, 0.2);
}
.imgCard:nth-child(2){
    background: rgba(168, 0, 60, 0.4);
}
.imgCard:nth-child(8){
    background: rgba(255, 255, 255, 1);
}.imgCard:nth-child(7){
    background: rgba(255, 255, 255, 0.4);
}.imgCard:nth-child(9){
    background: rgba(255, 255, 255, 0.2);
    margin-top: 6rem;
}.imgCard:nth-child(10){
    background: rgba(255, 255, 255, 1);
}.imgCard:nth-child(12){
    background: rgba(168, 0, 60, 0.4);
}